---
layout: default
title: About - UX Design Portfolio of Edward Nguyen
---
{% include about_header.html %}

<section id="about">
	<p>I'm currently a UX Designer at <a href="http://www.liquidplanner.com" target="_blank">LiquidPlanner</a>, helping them build the best project management software possible. Previously I designed at <a href="http://www.apptio.com" target="_blank">Apptio</a> and <a href="http://www.vertafore.com" target="_blank">Vertafore</a>.</p>
	<p>If you want to get in touch for networking, mentoring, or just want to talk with a designer, feel free to reach out on LinkedIn.</p>
	<p>-Edward</p>
</section>

{% include footer.html %}